.centerDeck {
    padding: 100px;
    color: #ffffff;
    /*background-color: #056102;*/
    width: 100%;
    text-align: center;    
}

img {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}